*{
    font-family: Consolas, serif;
}

nav{

    background-color: #41B883
}
.card{

    background-color: #35495E;
}
.green-text{

    color: #41B883;
}
.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}
input{



}
#githubImage{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}