<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="material.css" rel="stylesheet">

    <script src="https://unpkg.com/vue"></script>
</head>

<body>

<div id="container">

    <!---->
    <div id="votingSystemRadioDiv">
        <p>{{ message }}</p>

        <select v-model="selected">
            <option v-for="system in systems" v-bind:value="system.text">
                {{ system.text }}
            </option>
        </select>

    </div>
    <!---->


    <!---->
    <div id="optionListDiv">

        <p>{{ message }}</p>

        <li v-for="option in options">
            {{ option }}
            <button v-on:click="deleteButtonPressed(option)">Delete</button>
        </li>

        <input v-model="optionName" v-on:keyup.enter="addNewOption" v-on:keydown.delete="popLast">
        <button v-on:click="addNewOption">Add Option</button>

    </div>
    <!---->


    <!---->
    <div id="makePollDiv">

        <button v-on:click="makePoll">Make Poll</button>

    </div>
    <!---->

</div>
    <script src="mainPage.js"></script>

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>

</html>